<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        @{ //whatever in here, we can write in C#
            List<string> names = new List<string>
                {
                    "Adrien",
                    "Will",
                    "Benny Bob",
                    "Mr. Nibbles",
                    "Anne"
                };

        }
        <h1>This is my Index!</h1>

        <a href="/another/route">Another Route</a>

        <p>@ViewBag.Message</p>

        @foreach( string n in names )
        {
            if(n[0] == 'A')
            {
                <p style="color: rebeccapurple">@n</p>
            }
            else
            {
                <p>@n</p>
            }
            
        }
        
        <script src="" async defer></script>
    </body>
</html>